
<h3>Телефонный справочник</h3>
<br />
<div id="firstTime">
    @Html.ActionLink("Загрузить базу данных пользователями", "FillDbAsync")
</div>
<br />
<div id="toDictionary">
    @Html.ActionLink("Перейти к справочнику", "ShowPeople")
</div>