body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    text-align: center;
}

#search-field {
    background-color: silver;
}


.person-data {
        font-size: 30px;
    }

.person-data-header {
    font-size: 30px;
}

td, th {
    text-align: center;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid silver;
}

th {
    font-size: medium
}

.bigPicture {
    display: none;
}

.simple-view-data {
    position: fixed;
    top: 50%
}